@import url("https://fonts.googleapis.com/css?family=Open+Sans|Rambla&display=swap");

html {
  height: 100%;

  body {
    height: 100%;
    background-color: $background;
    font-size: $font-size;
    font-family: "Rambla", sans-serif;

    a.button, button {
      @extend .shadow;
      @extend .border-radius;
      font-weight: bold;
      box-shadow: none;
      font-style: inherit;
      font-size: 1em;
      font-family: "Noto sans";
      text-decoration: none;
      border: none;
      cursor: pointer;
      color: #fff;
      padding: $padding / 2 $padding;
      background-color: #2164a3;
      transition: box-shadow 0.3s;
      margin: $margin /2;

      &:hover {
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5) !important;
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
      margin-bottom: $margin;
      text-transform: capitalize;
    }

    h1 {
      font-size: 2rem;
      color:$white
    }
    h2 {
      font-size: 1.8rem;
    }
    h3 {
      font-size: 1.5rem;
    }
    h4 {
      font-size: 1.3rem;
    }
    h5 {
      font-size: 1.1rem;
    }

    /**
     * Application layout
     */
    div#root {
      height: 100%;
      &::before {
        width: 100%;
        height: $background-primary-color-height;
        position: absolute;
        top: 0;
        left: 0;
        background: $primary;
        content: " ";
        z-index: -1;
      }

      div#app-wrapper {
        height: 100%;

        // navbar
        nav#sidebar {
          width: $sidebar-width;
          height: 100%;
          position: fixed;
          top:0;
          left: 0;
          z-index:999;

          div.header {
            background-color: $primary;
            display: flex;
            justify-content: space-between;
            flex-wrap: nowrap;

            // brand block
            div#brand {
              padding: 0 $padding;
              max-height: $top-height;
              display: flex;
              align-items: center;
              background: $primary;
              a {
                color:$white;
                font-size: 1.5rem;

                img {
                  max-width: 100%;
                  max-height: $top-height;
                }
              }
            }

            #burger-menu {
              box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
              transition: background-color 0.5s;
              &:hover {
                background-color: $background;
                color: $black;
              }
            }
          }


          div.content {
            @extend .shadow;
            background-color: $white;
            height: 100%;

            // User block
            div#user {
              display: flex;
              flex-direction: column;
              padding: $padding;
              * {
                align-self: center;
              }
              span.name {
                font-weight: 400;
              }
            }

            // Menu block
            ul.menu {
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              flex: 1;

              li {
                display: inline-block;
                font-weight: 400;
                font-size: 1.1rem;
                text-transform: capitalize;

                a {
                  display: block;
                  padding: .65rem .75rem;
                  text-decoration: none;
                  color: $grey;

                  &::before {
                    content: " ";
                    border: solid;
                    border-width: 0 .1rem .1rem 0;
                    display: inline-block;
                    position: absolute;
                    right: 1rem;
                    margin-top: 0.5rem;
                    padding: 4px;
                    transform: rotate(-45deg);
                    transition: all .2s ease-out;
                  }
                }

                &.selected {
                  background-color: $background;
                }

                &:hover {
                  font-weight: 800;
                  a {
                    &::before {
                      border-width: 0 .2rem .2rem 0;
                    }
                  }
                }
              }
            }
          }

          // when the menu is closed
          &.closed {
            width: auto;
            height: auto;
            div.header {
              background-color:inherit;
              #brand {
                display: none;
              }
            }
            div.content {
              display: none;
            }
            & + main {
              width: 100%;
              margin-left: 0;
            }
          }
        }

        // main content
        main {
          margin-left: $sidebar-width;
          width: calc(100% - #{$sidebar-width});
          nav#top {
            height: $top-height;
          }
          div.main-wrapper {
            padding: 2*$padding 2*$padding 0 2*$padding;

            header {
              margin-bottom: 3rem;

              h1 {
                margin-bottom: 0;
              }
              nav.breadcrumb {
                display: inline-block;
                ul {
                  display: flex;
                  flex-wrap: wrap;
                  list-style: none;
                  padding: 0;
                  color: white;
                  text-transform: capitalize;
                  li {
                    & + li::before {
                      display: inline-block;
                      padding:0 0.1rem;
                      content: "/";
                    }
                    a {
                      color: $white;
                      text-decoration: none;
                      &:hover {
                        font-weight: 800;
                      }
                    }
                  }
                }
              }
            }
            div.container {
              overflow-x: hidden;
            }
            footer {
              padding: 1rem 0;
              color: $grey;
              font-size: 1.1rem;
              text-align: center;
            }
          }
        }

      }
    }
  }
}
