.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

.border-radius {
  border-radius: $radius;
}

.circle {
  border-radius: 50%;
}

@mixin shadowActiveElement($color) {
  &:hover,
  &:focus {
    box-shadow: 0 0 10px 1px rgba($color, 0.5) !important;
  }
}

ul.autocomplete {
  position: absolute;
  background-color: white;
  z-index: 9999;
  li {
    margin-left: $radius;
    padding: 5px;
    cursor: pointer;
    &:hover {
      background-color: $primary;
      color: $white;
    }
  }
}

.badge {
  @extend .border-radius;

  padding: 0.5em 1em;
  line-height: 0.75em;
  vertical-align: baseline;
  background-color: $primary;
  color: $white;
  font-weight: bold;
  font-size: 0.75em;
  margin: 0 $margin/2 0 0;

  &.badge-warning {
    background-color: $warning;
    color: $black;
  }
}

.success {
  color: $success;
}

div {
  flex-grow: 1;
}
