// Override bootstrap vatriables

$white: #fff;
$black: #000;
$grey: #333333;

$primary: #2164a3;
$secondary: #6c757d;
$tertiary: #9A00FF;
$success: #28a745;
$warning: #fd7e14;
$error: #dc3545;

// Layout variables
$background-primary-color-height: 264px;
$background: #dae4f3;
$font-size: 14px;
$sidebar-width: 250px;
$top-height: 60px;

// customer variables
$padding: 1rem;
$margin: $padding;
$radius: 0.5rem;
$header-height: 4rem;
$footer-height: 2rem;
