.action-wrapper {
  max-height: 100%;
  position: relative;

  .action-wrapper-menu {
    position: absolute;
    top: 0px;
    right: 0px;
    float: right;
    bottom: 0px;
    height: 100%;
    z-index: 999;
    display: flex;

    .action-wrapper-menu-top-right {
      padding-top: $padding / 2;
      position: absolute;
      width: max-content;
      right: $padding *2;
      a,
      button {
        border: 0;
        border-style: none;
        padding: 0 $padding 0 0;
        font-size: 1.5em;
        font-family: inherit;
        background-color: transparent;
        box-shadow: none;
        color: $black;
        margin: 0;

        &:hover,
        &:focus,
        &:active {
          box-shadow: none !important;
        }
        &:hover {
          color: $primary;
        }
      }
    }
    .action-wrapper-menu-right {
      height: 100%;
      display: flex;
      align-items: center;
      background-color: $primary;
      opacity: 0.7;
      transition: opacity 0.5s;
      border-radius: 0 $radius $radius 0;

      a {
        font-size: 2em;
        color: $white;
        height: 100%;
        display: inline-flex;
        align-items: center;
        text-decoration: none;
        i {
          padding: $padding/2;
        }
      }

      &:hover {
        opacity: 1;
      }
    }
  }
}
