.alert-danger {
  @extend .shadow;
  @extend .border-radius;
  background-color: $error !important;
  color: $white;
  padding: $padding;

  h4 {
    border-bottom: 1px solid $white;
    font-weight: bold;
    padding: $padding 0;
  }

  button {
    background-color: $white;
    color: $error;
    float:right;
    margin: 0;
  }

  .error {
    h5 {
      font-weight: bold;
      text-align: left;
    }
  }
}
