div.avatar {
  @extend .circle;
  font-size: 3em;
  height: 70px;
  width: 70px;
  background-color: $background;
  border: 4px solid $secondary;
  display: flex;
  justify-content: center;
  a {
    color:inherit;
    display: flex;
    flex-direction: column;
    * {
      align-self: center;
    }
    img {
      max-width: 80%;
    }
  }

  &.present {
    border: 4px solid green;
  }
  &.absent {
    border: 4px solid red;
  }
}
