$bbn-size: 3rem;
$bbn-font-size: 1.5rem;

.big-button-new {
  @extend .circle;
  border: 0;
  padding: 0;
  margin: 0;
  background-color: $success;
  color: $white;
  position: absolute;
  right: $footer-height;
  top: calc(#{$top-height} + 2rem);
  width: $bbn-size;
  height: $bbn-size;
  z-index: 10;
  text-align: center;
  box-shadow: none;
  transition: box-shadow 0.5s;

  &:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  }

  .fa {
    font-size: $bbn-font-size;
    line-height: $bbn-size;
    margin: 0 auto;
  }

  &.discovery {
    background-color: $tertiary;
    right: $footer-height + $bbn-size + $margin /2;
  }
}
