.box {
  @extend .shadow;
  @extend .border-radius;
  @extend .container;
  padding: 0 !important;
  min-height: 100px;

  .image {
    display: flex;
    flex-grow: 1;
    flex-basis: 25%;
    align-items: center;
    padding: $padding;
    .fa {
      font-size: 4em;
      margin: 0 auto;
    }
    i {
      margin: 0 auto;
      svg {
        width: auto;
        max-height: 100px;
        max-width: 100%;
      }
    }
    img {
      margin: 0 auto;
    }
  }

  .content {
    flex-grow: 4;
    flex-basis: 75%;
    display: flex;

    .info {
      flex-grow: 2;
      padding: $padding;
      max-width: calc(100% - #{2*$padding});

      h3 {
        text-align: left;
        display: inline-block;
        margin-bottom: 0;
      }

      h4 {
        font-size: 0.8em;
        text-align: left;
        font-style: italic;
        display: inline-block;
        margin-left: $margin;
      }

      .description {
        font-style: italic;
      }

      .metadata {
        margin-top: $margin/2;
        overflow: hidden;
        text-overflow: ellipsis;
        li {
          display: flex;
          flex-direction: row;


          span {
            font-weight: bold;
            padding-right: $margin;
            text-transform: capitalize;
          }
        }
      }
    }

    .actions {
        button {
          margin: $margin/4;
          i {
            margin-left: 5px;
          }
        }
      }
  }
}
