.container {
  @extend .shadow;
  @extend .border-radius;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: $padding;
  background-color: $white;
  justify-content: flex-start;
  align-items: stretch;
  clear: both;
  margin-bottom: $margin;
  background-color: $white;
}
