table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  border-collapse: collapse;
  table-layout: fixed;
  background-color: $white;

  thead {
    th {
      vertical-align: middle;
      background-color: $primary;
      border-bottom: 2px solid $primary;
      color: $white;
      font-weight: bold;
      font-size: 1.5em;
      line-height: 1.5em;
    }
  }

  tbody {
    tr.row-enter {
      background-color: scale-color($primary, $lightness: +50%);
    }
    tr.row-enter-active {
      background-color: $white;
      transition: background-color 1000ms;
    }
  }

  td,
  th {
    vertical-align: top;
    border-top: 1px solid $primary;
    padding: 0.5em;
  }

  &.one-line {
    td,
    th {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

div.no-data  {
  text-align: center;
  font-size: 1.2em;
  font-style: italic;
  padding: $padding;
}
