form,
.form {
  width: calc(100% - #{2 * $margin});
  padding: $padding;

  div.error {
    color: $error;
    margin: $margin $margin $margin * 2 $margin;
  }

  div.actions {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    margin-top: $margin;

    button {
      margin-left: $margin;
    }

    button.cancel {
      background-color: $error;
      @include shadowActiveElement($error);
    }

    button[type="submit"],
    button.submit,
    button.success {
      background-color: $success;
      @include shadowActiveElement($success);
    }
  }

}

div.fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  div.field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $margin;
    font-size: 1.1rem;
    width: 100%;

    div.label {
      margin-right: $padding;
      flex-grow: 1;
      flex-basis: 33%;
      text-align: right;

      label {
        text-transform: capitalize;
      }
    }

    div.input {
      flex-basis: 77%;
      flex-grow: 3;

      .filter {
        margin-bottom: $padding/4;
      }

      input,
      select,
      textarea {
        @extend .border-radius;
        @include shadowActiveElement($primary);
        width: calc(100% - 16px);
        display: inline-block;
        margin: 0;
        padding: 5px 10px 5px 5px;
        border: 1px solid $primary;
        box-shadow: none;
        transition: box-shadow 0.3s;
        background-color: rgba($background, 0.5);

        &::placeholder {
          color: lighten($grey, 20%);
          text-align: center;
        }
      }
      select {
        width: 100%;
        padding-right:35px;
        position: relative;
      }

      input:required,
      textarea:required,
      select:required {
        border-color: $error;
        @include shadowActiveElement($error);
      }
      input:required:valid,
      textarea:required:valid,
      select:required:valid {
        border-color: $success;
        @include shadowActiveElement($success);
      }

      input:optional:invalid,
      textarea:optional:invalid,
      select:optional:invalid {
        border-color: $error;
        @include shadowActiveElement($error);
      }
      input:optional:valid,
      textarea:optional:valid,
      select:optional:invalid {
        border-color: $success;
        @include shadowActiveElement($success);
      }
      input:optional[value=""],
      textarea:optional:empty,
      select:optional[value=""] {
        border-color: $primary;
        @include shadowActiveElement($primary);
      }

      input.error,
      input.error:valid,
      textarea.error,
      textarea.error:valid
      select.error,
      select.error:valid {
        border-color: $error !important;
        @include shadowActiveElement($error);
      }
      input.success,
      textarea.success,
      select.success {
        border-color: $success !important;
        @include shadowActiveElement($success);
      }

      div.leaflet-container {
        min-width: 300px;
        height: 200px;
      }

      select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        z-index: 2;
      }

      div.select{
        display: block;
      }
      div.select::before {
        content: '\25BC';
        position: relative;
        left: calc(100% - 30px);
        z-index: 1;
        display: block;
        height: 0;
        top: 5px;
      }
    }

    &.field-image {
      div.type {
        margin-top: $margin;
        input[type="radio"] {
          width: auto;
          margin-right: $margin;
          & + label {
            margin-right: $margin;
          }
        }
      }
      div.preview {
        font-size: 4em;
        text-align: center;
        margin-bottom: $margin;
      }
    }

  }

  &.horizontal {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;

    div.field {
      margin: $margin/2 auto;
      width: auto;

      & + div.field {
          margin-left: 2rem;
      }

      div.label {
        flex-basis: auto;
        margin-right: 0;
        padding-right: $padding;
      }
      div.input {
        flex-basis: auto;

        input,
        select,
        textarea {
          width: auto;
          max-width: 250px;
        }

        div.select {
          display: inline-block;
        }

      }
    }
  }

  button {
    background-color: $background;
    color:$black;
    border: 1px solid $primary;

    &.selected {
      background-color: $primary;
      color:$white;
    }
  }
}
