.popin-overlay {
  @extend .shadow;
  background-color: rgba($black, 0.6);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9000;

  .action-wrapper {
    max-width: 80%;
    margin: 0 auto;

    .popin-container {
      @extend .border-radius;
      @extend .shadow;
      background-color: $white;
      padding: 2*$padding;
      h3 {
        text-align: center;
      }
      .form {
        .actions {
          justify-content: center;
        }
      }
    }
  }
}
