$spinner-size: 80px;
$spinner-border-size:30px;

.spinner {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height:100%;
    background-color: rgba($background, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index:9999;
}

.lds-dual-ring {
  display: block;
  width: $spinner-size;
  height: $spinner-size;
  flex-grow: 0;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: $spinner-size;
  height: $spinner-size;
  border-radius: 50%;
  border: $spinner-border-size solid $primary;
  border-color: $primary transparent $primary transparent;
  animation: rotation 1.2s linear infinite;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.fa-circle-notch {
  animation: rotation 1.2s linear infinite;
}
