<script type="text/javascript">
  /**
   * Recursive function to check if an item should be expanded.
   * We go deeply and check if the leaf has the good value
   */
  function shouldBeExpanded(item, searchValue) {
    let result = false;
    // Go deeper
    if (item.children) {
      result = item.children.reduce((acc, child) => {
        if (acc === true) return true;
        else return shouldBeExpanded(child, searchValue);
      }, false);
    }
    // we are at the leaf, so checking the field
    else {
      result = item.id === searchValue;
    }
    return result;
  }

  function fillSelect(id, options, selected) {
    $(`#${id}`).empty();

    if (options) {
      $(`#${id}`).append(`<option disabled selected value></option>`);

      options.forEach(action => {
        $(`#${id}`).append(
          `<option value="${action.value}" ${
            action.value === selected ? "selected" : ""
          }>${action.name}</option>`
        );
      });
    }
  }

  RED.nodes.registerType("hal-component-action-out", {
    category: "HAL",
    color: "#C0DEED",
    defaults: {
      name: { required: true },
      component: { required: true },
      action: { required: true }
    },
    inputs: 0,
    outputs: 1,
    icon: "font-awesome/fa-bolt",
    label: function() {
      return this.name || "component action out";
    },
    oneditprepare: function() {
      const self = this;
      // Init tree list
      var treeList = $("#component-treelist").treeList({});

      // On select save values
      treeList.on("treelistselect", (event, item) => {
        if (item.class === "component") {
          $("#node-input-component").val(item.id);
          fillSelect(
            "node-input-action",
            item.actions.map(a => {
              return { value: a.name, name: a.name };
            }),
            self.action
          );
        }
      });

      // Load the data
      $.post({
        url: "/graphql",
        contentType: "application/json",
        data: JSON.stringify({
          query: `
            query {
              modules:Module(orderBy:name_asc) {
                id
                name
                children: types {
                  id
                  name
                  actions {
                    name
                    description
                  }
                  children: components {
                    id
                    name
                  }
                }
              }
            }`
        })
      })
        .done(function(response) {
          // Construct the tree module type component
          const data = response.data.modules
            .filter(module => module.children.length > 0)
            .map(function(module) {
              return {
                id: module.id,
                label: module.name,
                class: "module",
                icon: "fa fa-cogs",
                expanded: shouldBeExpanded(module, self.component),
                children: module.children.map(function(type) {
                  return {
                    id: type.id,
                    label: type.name,
                    class: "type",
                    icon: "fa fa-cog",
                    expanded: shouldBeExpanded(type, self.component),
                    children: type.children.map(function(component) {
                      const selected = shouldBeExpanded(
                        component,
                        self.component
                      );
                      if (selected === true) {
                        fillSelect(
                          "node-input-action",
                          type.actions.map(a => {
                            return { value: a.name, name: a.name };
                          }),
                          self.action
                        );
                      }
                      return {
                        id: component.id,
                        label: component.name,
                        class: "component",
                        actions: type.actions,
                        selected: selected,
                        icon: "fa fa-link"
                      };
                    })
                  };
                })
              };
            });
          // Load data
          treeList.treeList("data", data);
        })
        .fail(function(response) {
          console.log("Error: " + response.responseText);
        });
    }
  });
</script>

<script type="text/html" data-template-name="hal-component-action-out">
  <div class="form-row">
    <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
    <input type="text" id="node-input-name" placeholder="Name" />
  </div>

  <!-- Component -->
  <div class="form-row">
    <label for="node-input-component"><i class="fa fa-cog"></i> Component</label>
    <div id="component-treelist" style="height: 250px; min-height:150px;"></div>
    <input type="hidden" id="node-input-component" />
  </div>

  <!-- Action type -->
  <div class="form-row">
    <label for="node-input-action"><i class="fa fa-tag"></i> Action</label>
    <select id="node-input-action"></select>
  </div>
</script>

<script type="text/html" data-help-name="hal-component-action-out">
  <p>Listen to component's actions</p>

  <h3>Outputs</h3>
  <dl class="message-properties">
    <dt>uuid <span class="property-type">string</span></dt>
    <dd>Identifier of the action's event</dd>

    <dt>datetime <span class="property-type">date</span></dt>
    <dd>Date time of the action</dd>

    <dt>component <span class="property-type">object</span></dt>
    <dd>Definition of the component</dd>

    <dt>action <span class="property-type">string</span></dt>
    <dd>name of the action</dd>

    <dt class="optional">payload <span class="property-type">object</span></dt>
    <dd>Payload of thr action</dd>
  </dl>
</script>
