<script type="text/javascript">
  /**
   * Recursive function to check if an item should be expanded.
   * We go deeply and check if the leaf has the good value
   */
  function shouldBeExpanded(item, searchValue) {
    let result = false;
    // Go deeper
    if (item.children) {
      result = item.children.reduce((acc, child) => {
        if (acc === true) return true;
        else return shouldBeExpanded(child, searchValue);
      }, false);
    }
    // we are at the leaf, so checking the field
    else {
      result = item.id === searchValue;
    }
    return result;
  }

  RED.nodes.registerType("hal-component-measurement", {
    category: "HAL",
    color: "#C0DEED",
    inputs: 0,
    outputs: 1,
    icon: "font-awesome/fa-table",
    label: function() {
      return this.name || "hal-component-measurement";
    },
    defaults: {
      name: { default: "" },
      component: {
        required: true
      }
    },
    oneditprepare: function() {
      const self = this;

      // Init tree list
      var treeList = $("#component-treelist").treeList({});

      // On select save values
      treeList.on("treelistselect", (event, item) => {
        if (item.class === "component") {
          $("#node-input-component").val(item.id);
          $("#node-input-name").val(`Component ${item.label}`);
        }
      });
      // Load the data
      $.post({
        url: "/graphql",
        contentType: "application/json",
        data: JSON.stringify({
          query: `
            query {
              modules:Module(orderBy:name_asc) {
                id
                name
                children: types {
                  id
                  name
                  children: components {
                    id
                    name
                  }
                }
              }
            }`
        })
      })
        .done(function(response) {
          // Construct the tree module type component
          const data = response.data.modules
            .filter(module => module.children.length > 0)
            .map(function(module) {
              return {
                id: module.id,
                label: module.name,
                class: "module",
                icon: "fa fa-cogs",
                expanded: shouldBeExpanded(module, self.component),
                children: module.children.map(function(type) {
                  return {
                    id: type.id,
                    label: type.name,
                    class: "type",
                    icon: "fa fa-cog",
                    expanded: shouldBeExpanded(type, self.component),
                    children: type.children.map(function(component) {
                      return {
                        id: component.id,
                        label: component.name,
                        class: "component",
                        selected: shouldBeExpanded(component, self.component),
                        icon: "fa fa-link"
                      };
                    })
                  };
                })
              };
            });
          // Load data
          treeList.treeList("data", data);
        })
        .fail(function(response) {
          console.log("Error: " + response.responseText);
        });
    }
  });
</script>

<script type="text/html" data-template-name="hal-component-measurement">
  <!-- Component -->
  <div class="form-row">
    <label for="node-input-component"><i class="fa fa-cog"></i> Component</label>
    <div id="component-treelist" style="height: 250px; min-height:150px;"></div>
    <input type="hidden" id="node-input-component" />

    <!-- Name of the node : compute for the selected component -->
    <input type="hidden" id="node-input-name" />
  </div>
</script>

<script type="text/html" data-help-name="hal-component-measurement">
  <p>Listen on component's measurement.</p>

  <h3>Outputs</h3>
  <dl class="message-properties">

    <dt>uuid <span class="property-type">string</span></dt>
    <dd>Identifier of the measurement's event</dd>

    <dt>datetime <span class="property-type">date</span></dt>
    <dd>Date time of the measurement</dd>

    <dt>component <span class="property-type">object</span></dt>
    <dd>Definition of the component</dd>

    <dt class="optional">data <span class="property-type">object</span></dt>
    <dd>Data of the measurement</dd>
  </dl>
</script>
