@media only screen and (max-device-width : 480px){
  html {
    body {
      div#root {
        div#app-wrapper {

          nav#sidebar.opened {
            width:100% !important;
            z-index:9999 !important;
          }

          main {
            margin-left: 0;

            div.main-wrapper {
              padding: $padding $padding 0 $padding;
            }

            div.box {
              flex-direction: column;
              justify-content: center;
              * {
                text-align: center;
              }

              .image {
                margin: 3*$padding 0 0 0;
                padding: 0;
              }

              .content {
                .info {
                  .actions {
                    .badge {
                      font-size: 1.2em;
                      // margin-bottom: $margin;
                    }
                  }
                }
              }

              &.place {
                .content {
                  flex-direction: column;
                  justify-content: center;
                  .map {
                    width: 100%;
                    .leaflet-container {
                      height: 150px;
                    }
                  }
                }
              }
            }

            .action-wrapper {
              .action-wrapper-menu {
                a, button {
                  font-size:1.8em !important;
                }
              }
            }

            .big-button-new {
              top: $padding !important;
            }

          }
        }
      }
    }
  }

}
