.box {
  &.component {
    &.component-stopped {
      background-color: lighten($error, 30);
    }
    &[data-status="0"] {
      .image {
        color: $error;
        stroke:$error;
        stroke-width:10;

        img {
          border: 3px solid $error;
        }
      }
    }
    &[data-status="1"] {
      .image {
        color: $success;
        stroke:$success;
        stroke-width:10;

        img {
          border: 3px solid $success;
        }
      }
    }
  }
}
