.box {
  &.place {
    .content {
      .map {
        flex-grow: 3;
        width: 50%;
        min-height: 100px;
        max-height: 100%;
      }
      .address {
        font-style: italic;
      }
    }
  }
}
