div#page-full {
  width: 100%;
  height: 100%;
  background-color: $primary;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  div#auth {
    flex-basis: 50%;
    flex-grow: 0;
    width: 50%;

    h1 {
      text-align: center;
    }

    & > form, & > div {
      @extend .border-radius;
      background-color: $white;
      padding: 2*$margin $margin;
    }

    > div > p {
      font-size: 2rem;
      text-align: center;
    }
  }
}
