div.measurements {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .measurement {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items:  stretch;
    width: 100%;
    margin-bottom: $margin;

    h5 {
      flex-grow: 1;
      flex-basis: 20%;
      text-align: right;
      padding-right: $padding;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0;
    }
    div.dataviz {
      flex-grow: 2;
      flex-basis:70%;
    }
    div.current-value {
      flex-grow: 1;
      flex-basis: 10%;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

@media only screen and (max-device-width : 480px){
  div.measurements {
    .measurement {
      flex-direction: column;
      h5 {
        text-align: center;
        order:1
      }
      div.dataviz {
        order: 3;
      }
      div.current-value {
        order: 2;
      }
    }
  }
}
