<script type="text/javascript">
  /**
   * Recursive function to check if an item should be expanded.
   * We go deeply and check if the leaf has the good value
   */
  function shouldBeExpanded(item, searchValue) {
    let result = false;
    // Go deeper
    if (item.children) {
      result = item.children.reduce((acc, child) => {
        if (acc === true) return true;
        else return shouldBeExpanded(child, searchValue);
      }, false);
    }
    // we are at the leaf, so checking the field
    else {
      result = item.id === searchValue;
    }
    return result;
  }

  RED.nodes.registerType("hal-module-manager", {
    category: "HAL",
    color: "#C0DEED",
    defaults: {
      name: { value: "" },
      module: {
        required: true
      },
      action: { value: "" }
    },
    inputs: 1,
    outputs: 1,
    icon: "font-awesome/fa-cogs",
    label: function() {
      return this.name || "module manager";
    },
    oneditprepare: function() {
      const self = this;

      // Init tree list
      var treeList = $("#module-treelist").treeList({});

      // On select save values
      treeList.on("treelistselect", (event, item) => {
        $("#node-input-module").val(item.id);
        $("#node-input-name").val(`Module ${item.label}`);
      });

      // Load the data
      $.post({
        url: "/graphql",
        contentType: "application/json",
        data: JSON.stringify({
          query: `
            query {
              modules:Module(orderBy:name_asc) {
                id
                name
              }
            }`
        })
      })
        .done(function(response) {
          // Construct the tree module type component
          const data = response.data.modules.map(function(module) {
            return {
              id: module.id,
              label: module.name,
              class: "module",
              selected: shouldBeExpanded(module, self.module),
              icon: "fa fa-cogs"
            };
          });
          // Load data
          treeList.treeList("data", data);
          // Show the selected item
          if (this.module) treeList.show(this.module);
        })
        .fail(function(response) {
          console.log("Error: " + response.responseText);
        });
    }
  });
</script>

<script type="text/html" data-template-name="hal-module-manager">
  <!-- Component -->
  <div class="form-row">
    <label for="node-input-module"><i class="fa fa-cogs"></i> Module</label>
    <div id="module-treelist" style="height: 250px; min-height:150px;"></div>
    <input type="hidden" id="node-input-module" />

    <!-- Name of the node -->
    <input type="hidden" id="node-input-name" />
  </div>

  <!--Action -->
  <div class="form-row">
    <label for="node-input-action"><i class="fa fa-bolt"></i>Action</label>
    <select id="node-input-action">
      <option value="" selected>Select an action</option>
      <option value="stop">STOP</option>
      <option value="start">START</option>
    </select>
  </div>
</script>

<script type="text/html" data-help-name="hal-module-manager">
  <p>Manage a module. It allows you to stop/start a module.</p>

  <h3>Outputs</h3>
  <dl class="message-properties">
    An empty ouput is generated when the module has been started/stopped.
  </dl>

  <h3>Inputs</h3>
  <dl class="message-properties">
    <dt>action (optional)<span class="property-type">string</span></dt>
    <dd>Type of the action to perform. If it is not specified, the perfomed action is the one defined in the component's definition</dd>
  </dl>
</script>
