.dataviz.heatmap {
  .data {
    .square {
      display: inline-block;

      &.selected {
        opacity: 0.3;
        background-color: black;
      }

      div {
        width: 100%;
        height: 100%;
      }
    }
  }

  &.spaced {
    .data {
      .square {
        div {
          border-color: white;
          border-style: solid;
          border-width: 0 1px;
        }
      }
    }
  }
}
