.dataviz.histogram {
  .legend {
    text-align: end;

    ul {
      li {
        display:inline;
        margin-left: 10px;
        div {
          display: inline-block;
          height: 10px;
          width: 10px;
          margin-left: 2px;
        }
      }
    }
  }

  .axis {
    &.y {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      width: 0;
      top:0;
      left: 0;

      span:first-child {
        margin-top: -1em;
      }

      span:last-child {
        margin-bottom: -1em;
      }
    }
  }

  .data {
    height:100px;
    display: flex;
    flex-direction: row;
    border-color: $grey;
    border-style: dotted;
    border-width: 1px 0;

    .column {
      display: flex;
      flex-direction: column-reverse;
      div {
        flex-grow: 0;
      }

      &.selected {
        opacity: 0.3;
        background-color: black;
      }
    }
  }

  &.spaced {
    .data {
      .column {
        div {
          border-color: white;
          border-style: solid;
          border-width: 0 1px;
        }
      }
    }
  }
}
