@import "./heatmap";
@import "./histogram";

.dataviz {
  width: 100%;
}
.tooltip {
  position: fixed;
  background-color: #000;
  opacity: 0.8;
  max-width: 25%;
  overflow: hidden;
  color: $white;
  padding: $padding;
  visibility:hidden;
  z-index: 999;
  h6 {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    margin-bottom: $margin;
  }
  ul {
    li {
      margin-bottom: $margin/4;
      text-align: right;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      span.property {
        font-weight: bold;
        padding-right: $padding/4;
      }
      span.value {
        font-style: italic;
      }
    }
  }
}
